{% extends "WebMonitor/base.html" %}

{% block headcontent %}
    <meta http-equiv="refresh" content="60">
{% endblock headcontent %}

{% block content %}

{% if alerts %}    
    {% for alert in alerts %}
        {% if alert.type == "critical" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ alert }}
                <button type="button" class="btn-close" onclick="location.href = '/alerts/{{alert.id}}/delete'"></button>
            </div>
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ alert }}
                <button type="button" class="btn-close" onclick="location.href = '/alerts/{{alert.id}}/delete'"></button>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <p><em>No alerts to display</em></p>
{% endif %}

{% endblock content %}